@import url(https://fonts.googleapis.com/css?family=Noto+Sans:regular,italic,700,700italic);

:root {
  --text-title: rgb(106, 174, 238);
  --text-white: #fff;
  --green-dark: rgb(23, 19, 32);
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: Noto, Arial, serif;
  background-color: rgb(53, 48, 114);
  background-repeat: no-repeat;
  background-size: auto;
}

a {
  text-decoration: none;
  color: var(--text-title);
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 20px;
}

.header {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.header__inner {
  display: flex;
  width: 100%;
  height: 100px;
  justify-content: flex-end;
  align-items: center;
}

form {
  position: relative;
}

.search {
  width: 100px;
  height: 40px;
  background-color: transparent;
  outline: none;
  border: 1px solid var(--text-title);
  font-size: 18px;
  color: var(--text-white);
  padding: 5px;
  transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;
}

.search:active,
.search:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.search:focus.search::placeholder {
  color: #fff;
}

.x-element {
  position: absolute;
  right: 7px;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(126, 126, 126);
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.x-element:hover {
  font-weight: 400;
  color: var(--text-white);
}

.header__title {
  font-size: 32px;
  font-weight: 400;
  color: var(--text-title);
}

.movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 15px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.movie {
  display: flex;
  flex-direction: column;
  flex: 0 1 250px;
  transition: box-shadow 0.5s ease-in-out;
  cursor: pointer;
  position: relative;
}

.movie:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.movie-poster__wrapper {
  position: relative;
  min-height: 500px;
  background-color: var(--green-dark);
}

.movie-poster {
  width: 100%;
}

.movie-id {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: block;
  opacity: 0;
}

.movie-poster__blackout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15);
  transition: background-color 0.2s ease-in-out;
}

.movie:hover .movie-poster__blackout {
  background-color: rgba(0, 0, 0, 0);
}

.movie-info {
  position: absolute;
  height: 120px;
  padding: 5px;
  width: 95%;
  bottom: 0;
  left: center;
}

.movie__title {
  font-size: 20px;
  font-weight: 600;
  color: var(--text-title);
  transition: color 0.2s ease-in-out;
}

.movie:hover .movie__title {
  color: var(--text-white);
}

.movie__genre {
  position: absolute;
  left: 5px;
  bottom: 10px;
  color: var(--text-title);
  font-weight: 300;
  width: 100px;
}

.movie__range {
  position: absolute;
  right: 0px;
  top: -370px;
  font-size: 20px;
  text-align: center;
  line-height: 39px;
  display: block;
  width: 50px;
  height: 40px;
  color: var(--text-title);
  background-color: rgba(0, 0, 0, 0.5);
}

.movie__range--green {
  border: 2px solid green;
}

.movie__range--yellow {
  border: 2px solid yellow;
}

.movie__range--red {
  border: 2px solid red;
}

.movie-description {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.movie-shortdescription__text {
  position: absolute;
  background-color: var(--text-white);
  left: 0;
  right: 0;
  bottom: 0;
}

.footer {
  height: 50px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--text-title);
}

.footer__rsschool {
  position: relative;
}

.footer__rsschool,
.footer__github {
  transition: color 0.3s ease-in-out;
}

.footer__github:hover,
.footer__rsschool:hover {
  color: var(--text-white);
}

.footer__rsschool:hover::before {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(124deg) brightness(105%) contrast(101%);
}

.movie-description {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--text-title);
  padding: 10px;
  overflow-y: auto;
}

.movie-description__inner,
.movie-description__rate {
  font-style: italic;
}

.movie-description__inner {
  text-align: right;
  padding-bottom: 10px;
}

.movie-description__name {
  font-size: 18px;
  font-weight: 600;
  padding-bottom: 10px;
}

.movie-description__text {
  padding-bottom: 10px;
}
